body{
	  margin: 0;

}

.hero{
	min-height: 50vh;
	background-image: url('/img/hero-bg.jpg');
	  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
	display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
}

.hero h1{
	color: #F0F8FF;
}

.wild-standart{
	max-width: 1100px;
	margin: auto;
}


.home-last-blog-post {
	width: 33%;
}

.home-last-blog-post img{
	width: 100%;
}